



.row-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    
}
.column-info {
    flex: 1;
    padding: 3px;
    text-align: center;
 
}
ol{
 
    padding: 5px;
}
h4 , h6{
    margin: 10px;
   
}
button{
 background-color: rgb(167, 166, 166);
 border-radius: 15%;
  margin: 5px 3px;
}


h1 {
    color: #dba934;
    font-size: 2.5em;
    margin-top: 0;
}

.desing-text{

    text-align: center;
    color: #503f2c;
     margin: 10px;
   
}